<h1>reservations Booked:</h1>
<% @reservations_done.each do |res| %>
  <%= res.tool.name %>
  From: <%= res.reservation_time_start.strftime("%m/%d/%Y") %>
  To: <%= res.reservation_time_end.strftime("%m/%d/%Y") %>
  Status: <%= res.status %>
  <p> Total Price: </p>
<% end %>
