<%= form_for([tool, reservation]) do |f| %>
<div class="form-group">
  <label for="reservation_time_start">From</label>
  <%= f.datetime_field :reservation_time_start, class:'form-control'%>
</div>
<div class="form-group">
  <label for="reservation_time_end">To</label>
  <%= f.datetime_field :reservation_time_end, class:'form-control'%>
</div>
<div class="form-group">
  <%= f.submit "Book this tool", class:"btn btn-primary" %>
</div>
<% end  %>
