// Place all the styles related to the Tool controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mapid, #mapindex {
  width: 85%;
  margin: 0px auto;
  height: 520px;
  z-index:0;
}

.create_tool{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tool_form{
  border-radius: 2px;
  border: 1px solid lightgrey;
  padding: 20px;
}
