// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: 'Rubik', sans-serif;
  background-size: 100%;
}

#user_info{
  padding-top: 8px;
}

#user_address{
  visibility: visible;
}


#stickbar{
  overflow: hidden;
  background-color: #333;
}

.row{
  margin: 30px;
  margin-top: 50px;
}

.show{
  display: grid;
  grid-template-columns: 400px 600px 600px;
  margin: 50px;
}



.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1
}

.content {
  padding-top: 125px;
}

.header_title{
  background-size: 100%;
}

.card{
  margin: 5px;
  background-color: rgba(239, 239, 239, 0.9);
}
.navbar{
  font-size: 16px;
  padding: 10px;
  height: 90px;
  border-bottom: 0.5px solid lightgrey;
}

.nav-item{
  margin: 20px;
  margin-left: 50px;
}

.nav-link{
  color: #484848;
}

// .right_menu{
//   width: 600px;
// }

.search_bar{
  margin-top: 20px;
}


#search {
  width: 500px;
  height: 48px;
}

@media only screen and (max-width: 1312px){
  #search{
    width : 200px;
  }
}

#searchbtn {
  height: 48px;
}
